
#hamburguesa button
{
    display: inline-block;
    background:linear-gradient(45deg,rgba(255, 255, 255, 0.774),#32bde4);
    border-radius: 8px;
    border: none;
    transition: all 300ms linear;
}

#hamburguesa button:hover
{
    background:linear-gradient(45deg,rgba(255, 255, 255, 0.774),#197b96);
}

#hamburguesa button a
{
    color: black;
}

#conoceme .contenedor-biografia
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background:linear-gradient(45deg,rgba(255, 255, 255, 0.774),#32bde4);
    color: black !important;
    width: 35%;
    height: 350px;
    border-radius:100%;
    padding: 20px;
}

#conoceme .contenedor-biografia p a
{
    color: black;
    font-weight: bold;
}

#proyectos .container-proyectos .titulo-proyecto
{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    background:linear-gradient(45deg,rgba(255, 255, 255, 0.774),#32bde4);
    width: 200px;
    height: 200px;
    border-radius: 1000px;
}

#proyectos .container-proyectos .titulo-proyecto h3
{
    color: black;
}

#proyectos .proyectos .proyecto 
{
    border: 2px solid black;
}

main
{
    background-image: url("../imagenes/modo-dia.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-right: 20px;
}

#conocimientos .container-conocimientos .titulo-conocimientos
{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    background:linear-gradient(45deg,rgba(255, 255, 255, 0.774),#32bde4);
    width: 275px;
    height: 275px;
    border-radius: 1000px;
}

#conocimientos .container-conocimientos .conocimientos .conocimiento
{
    border: 1px solid black;
}

#conocimientos .container-conocimientos .titulo-conocimientos h3
{
    color: black;
}

i
{
    color: black;
}