#conoceme .contenedor-biografia
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background:linear-gradient(#440031b0,#3374c8ad);
    width: 35%;
    height: 350px;
    border-radius:100%;
    padding: 20px;
}

#conoceme .contenedor-biografia p a
{
    color: white;
    font-weight: bold;
}

#proyectos .container-proyectos .titulo-proyecto
{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    background:linear-gradient(#440031b0,#3374c8ad);
    width: 200px;
    height: 200px;
    border-radius: 1000px;
}

#proyectos .container-proyectos .titulo-proyecto h3
{
    color: white;
}

#proyectos .proyectos .proyecto 
{
    border: 2px solid #ccc;
}

#proyectos .proyectos .proyecto h3
{
    color:white;
}

main
{
    background-image: url("../imagenes/fondopng.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    padding-left: 20px;
    padding-right: 20px;
}

#conocimientos .container-conocimientos .titulo-conocimientos
{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    background:linear-gradient(#440031b0,#3374c8ad);
    width: 275px;
    height: 275px;
    border-radius: 1000px;
}


#conocimientos .container-conocimientos .conocimientos .conocimiento
{
    border: 1px solid white;
}

#conocimientos .container-conocimientos .titulo-conocimientos h3
{
    color: white;
}
